*,body,h1,h2,h3,h4,h5,h6,p,span,a,li{
    font-family: 'Roboto Mono', 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: #0B2434;
    position: relative;
    margin: 0;
}

$color: #5035FF;

::selection {
    background: $color; /* Цвет фона */
    color: #fff; /* Цвет текста */
}

*{
    &::-webkit-scrollbar {
        width: 0.75rem;
        height: 0.75rem;
        background-color: #E5E5E5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 0.75rem;
        background-color: $color;
        cursor: pointer;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
        border-radius: 10px;
        background-color: #E5E5E5;
    }
}

@media screen and (max-width: 1920px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 992px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 8px;
    }
}

@media screen and (min-width:1540px) {
    .container {
        max-width: 1400px;
    }
}
@media screen and (min-width:1920px) {
    .container {
        max-width: 1640px;
    }
}
section{
    position: relative;
}
.anchor{
    position: absolute;
    top: -7.5rem;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    h2{
        font-size: 2.5rem;
        line-height: 120%;
        font-weight: 700;
        margin: 0;
        color: #000;
    }
    p{
        font-size: 1.25rem;
        line-height: 120%;
        font-weight: 400;
        margin: 0;
        color: #000;
        text-align: center;
        max-width: 28rem;
    }
    &__block{
        padding: 2rem;
        background: #F5F5F5;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        min-width: 32rem;
    }
    &__field{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 2rem;
    }
    form{
        width: 100%;
    }
}
.auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    input{
        width: 100%;
        padding: 0.5rem;
        border: 1px solid rgb(133, 133, 133);
        border-radius: 0.5rem;
        font-size: 1.25rem;
        &:focus-visible{
            border: 1px solid $color;
            outline: none;
        }
    }
    p{
        color: rgb(133, 133, 133);
    }
    &__link{
        cursor: pointer;
        color: #000;
        transition: all .2s ease;
        &:hover{
            color: $color;
        }
    }
}
.die, .die-simple{
    width: 4rem;
    height: 4rem;
    background: #fff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    color: #2B283A;
    box-shadow: 0px 4px 4px 0px #00000026;
    cursor: pointer;
    user-select: none;
    transition: color .2s ease;
    &.active{
        background: #59E391;
    }
    &.hidden{
        color: transparent;
    }
    &.error{
        background: #ffcccc;
        animation: error .2s ease;
    }
    &.dis{
        pointer-events: none;
    }
    &.success{
        //animation: success .2s ease;
        transform: rotate(45deg);
    }
}
.die.active{
    pointer-events: none;
}
@keyframes error {
    0% {
      transform: rotate(0deg);
    }
    12% {
        transform: rotate(10);
    }
    25% {
        transform: rotate(0deg);
    }
    37% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    62% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(0deg);
    }
    87% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes success{
    // 0% {
    //     box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    // }
    // 70% {
    //     box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0);
    // }
    // 100% {
    //     box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    // }
    0% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(235deg);
    }
}
.grid2{
    grid-template-columns: repeat(2,1fr);
}
.grid3{
    grid-template-columns: repeat(3,1fr);
}
.grid4{
    grid-template-columns: repeat(4,1fr);
}
.grid5{
    grid-template-columns: repeat(5,1fr);
}
.grid6{
    grid-template-columns: repeat(6,1fr);
}
.main-button{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 120%;
    text-align: center;
    padding: .75rem 2rem;
    background: $color;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: .5rem;
    &:focus{
        outline: none;
    }
    &:active{
        box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
    }
}
.start{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    h2{
        font-size: 2.5rem;
        line-height: 120%;
        font-weight: 700;
        margin: 0;
        color: #fff;
        text-align: center;
    }
    p{
        font-size: 1.5rem;
        line-height: 120%;
        font-weight: 400;
        margin: 0;
        color: #fff;
        text-align: center;
        max-width: 28rem;
    }
    &__mode{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
}
.header{
    position: fixed;
    width: 100%;
    z-index: 100;
    &__content{
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__right{
        display: flex;
        align-items: center;
        z-index: 1;
        background: #0B2434;
    }
    &__logo{
        height: 3.5rem;
        width: 12rem;
        position: relative;
        img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            filter: invert(1) brightness(1000%);
        }
        // background-image: url("./bg/cuthere-react-logo.svg");
        // background-position: left center;
        // background-size: cover;
        // background-repeat: no-repeat;
        
    }
    &__shad{
        height: 5.25rem;
        width: 4rem;
        display: flex;
        background: linear-gradient(to right, transparent 0%, rgba(11, 36, 52, 1) 70%, rgba(11, 36, 52, 1) 100%);
        margin-left: -4rem;
    }
}
.timer{
    font-size: 7rem;
    margin-top: -9rem;
    margin-bottom: 2rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    animation: pulsate 1s ease-out infinite;
    @keyframes pulsate {
        0% { 
            opacity: 0;
        }
        10%{
            opacity: 0;
        }
        15% {
            opacity: 0.5;
        }
        80% {
            opacity: 0;
        }
        100% { 
            opacity: 0;
        }
    }
}
.selector{
    &__content{
        overflow: hidden;
        display: flex;
        transition: all .2s ease;
        width: calc(6.25rem + 66px);
        opacity: 1;
        gap: 1.5rem;
        &.dis{
            width: 0;
            opacity: 0;
        }
    }
}
.icon-button{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    img{
        height: 2.3rem;
        filter: invert(1) brightness(1000%);
        user-select: none;
    }
    span{
        white-space: nowrap;
    }
}
.min-button{
    padding: .75rem 1rem;
}
.mr-r{
    margin-right: 1.5rem;
}
.lang{
    display: flex;
    align-items: center;
    gap: .5rem;
    span{
        font-size: 1rem;
        line-height: 120%;
        color: #fff;
        text-transform: uppercase;
    }
    &__switcher{
        position: relative;
        display: flex;
        padding: 3px;
        border-radius: 24px;
        width: 40px;
        height: 24px;
        transition: all .2s ease;
        background: $color;
        cursor: pointer;
        div{
            position: relative;
            left: 0;
            border-radius: 50%;
            background-color: #fff;
            width: 18px;
            height: 18px;
            transition: all .2s ease;
        }
    }
}
.ru{
    .lang{
        &__switcher{
            //background: $color;
            div{
                left: 16px;
            }
        }
    }
}
.account{
    position: relative;
    &__content{
        position: absolute;
        padding: 0.75rem;
        border-radius: 0.5rem;
        background: #fff;
        top: 4.3rem;
        transition: all .2s ease;
        opacity: 0;
        pointer-events: none;
        right: -4.8rem;
        p{
            font-size: 1rem;
            margin: 0;
            color: rgb(133, 133, 133);
        }
        &.active{
            opacity: 1;
            pointer-events: all;
        }
        div{
            display: flex;
            flex-direction: column;
            gap: .75rem;
        }
    }
    &__action{
        color: #000;
        white-space: nowrap;
        cursor: pointer;
        transition: all .2s ease;
        &:hover{
            color: $color;
        }
    }

}
.notificator{
    position: fixed;
    z-index: 200;
    width: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    top: -100px;
    div{
        box-shadow: 0px 0px 20px 0px rgba(176, 197, 222, 1);
        background: #fff;
        border-radius: 5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem 2rem;
        span{
            font-size: 2rem;
            font-weight: 400;
            line-height: 120%;
            color: #000;
        }
        img{
            width: 5rem;
        }
    }

    &.active{
        animation: myAnim 3s ease 0s 1 normal forwards;
        @keyframes myAnim {
            0% {
                top: -100px
            }
            10% {
                top: 6rem;
            }
            90% {
                top: 6rem;
            }
            100% {
                top: -100px;
            }
        }
    }
}
.volume{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
    width: 24px;
    height: 24px;
    cursor: pointer;
    img{
        width: 100%;
        filter: invert(1) brightness(1000%);
    }
    &:focus-visible,&:focus{
        outline: none;
    }
}

@media (max-width: 769px){
    .start{
        h2{
            font-size: 3.5rem;
        }
        p{
            font-size: 2rem;
        }
        &__mode{
            gap: 2.5rem;
        }
    }
    .main-button{
        font-size: 2.5rem;
        padding: 1rem 2.5rem;
    }
    .min-button{
        padding: 1rem 1rem;
    }
    .game{
        h2{
            font-size: 3.5rem;
        }
        p{
            font-size: 2rem;
        }
        &__block{
            gap: 3rem;
            padding: 2.5rem 
        }
        &__field{
            gap: 2.5rem;
        }
    }
    .die {
        width: 6rem;
        height: 6rem;
        font-size: 3.5rem;
    }
    .timer{
        font-size: 11rem;
        margin-top: -14rem;
        margin-bottom: 3rem;
    }
    .header{
        &__logo{
            height: 5.25rem;
            width: 18rem;
        }
    }
    .selector{
        &__content{
            width: calc(10rem + 42px);
        }
    }
    .icon-button{
        padding: 0.75rem;
        img{
            height: 3.5rem;
        }
    }
    .lang{
        span{
            font-size: 1.5rem;
        }
    }
    .auth{
        input{
            font-size: 1.75rem;
        }
    }
    .account{
        &__content{
            p{
                font-size: 1.5rem;
            }
            right: -6.5rem;
            top: 6.3rem 
        }
    }
    .notificator div{
        span{
            font-size: 1.5rem;
        }
        img{
            width: 3.5rem;
        }
    }
}