@charset "UTF-8";
*, body, h1, h2, h3, h4, h5, h6, p, span, a, li {
  font-family: "Roboto Mono", "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #0B2434;
  position: relative;
  margin: 0;
}

::-moz-selection {
  background: #5035FF; /* Цвет фона */
  color: #fff; /* Цвет текста */
}

::selection {
  background: #5035FF; /* Цвет фона */
  color: #fff; /* Цвет текста */
}

*::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #E5E5E5;
}
*::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  background-color: #5035FF;
  cursor: pointer;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #E5E5E5;
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 8px;
  }
}
@media screen and (min-width: 1540px) {
  .container {
    max-width: 1400px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1640px;
  }
}
section {
  position: relative;
}

.anchor {
  position: absolute;
  top: -7.5rem;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
.game h2 {
  font-size: 2.5rem;
  line-height: 120%;
  font-weight: 700;
  margin: 0;
  color: #000;
}
.game p {
  font-size: 1.25rem;
  line-height: 120%;
  font-weight: 400;
  margin: 0;
  color: #000;
  text-align: center;
  max-width: 28rem;
}
.game__block {
  padding: 2rem;
  background: #F5F5F5;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  min-width: 32rem;
}
.game__field {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}
.game form {
  width: 100%;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.auth input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 0.5rem;
  font-size: 1.25rem;
}
.auth input:focus-visible {
  border: 1px solid #5035FF;
  outline: none;
}
.auth p {
  color: rgb(133, 133, 133);
}
.auth__link {
  cursor: pointer;
  color: #000;
  transition: all 0.2s ease;
}
.auth__link:hover {
  color: #5035FF;
}

.die, .die-simple {
  width: 4rem;
  height: 4rem;
  background: #fff;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  color: #2B283A;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: color 0.2s ease;
}
.die.active, .die-simple.active {
  background: #59E391;
}
.die.hidden, .die-simple.hidden {
  color: transparent;
}
.die.error, .die-simple.error {
  background: #ffcccc;
  animation: error 0.2s ease;
}
.die.dis, .die-simple.dis {
  pointer-events: none;
}
.die.success, .die-simple.success {
  transform: rotate(45deg);
}

.die.active {
  pointer-events: none;
}

@keyframes error {
  0% {
    transform: rotate(0deg);
  }
  12% {
    transform: rotate(10);
  }
  25% {
    transform: rotate(0deg);
  }
  37% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  62% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(0deg);
  }
  87% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes success {
  0% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(235deg);
  }
}
.grid2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid6 {
  grid-template-columns: repeat(6, 1fr);
}

.main-button {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  padding: 0.75rem 2rem;
  background: #5035FF;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}
.main-button:focus {
  outline: none;
}
.main-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
}
.start h2 {
  font-size: 2.5rem;
  line-height: 120%;
  font-weight: 700;
  margin: 0;
  color: #fff;
  text-align: center;
}
.start p {
  font-size: 1.5rem;
  line-height: 120%;
  font-weight: 400;
  margin: 0;
  color: #fff;
  text-align: center;
  max-width: 28rem;
}
.start__mode {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header__content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__right {
  display: flex;
  align-items: center;
  z-index: 1;
  background: #0B2434;
}
.header__logo {
  height: 3.5rem;
  width: 12rem;
  position: relative;
}
.header__logo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  filter: invert(1) brightness(1000%);
}
.header__shad {
  height: 5.25rem;
  width: 4rem;
  display: flex;
  background: linear-gradient(to right, transparent 0%, rgb(11, 36, 52) 70%, rgb(11, 36, 52) 100%);
  margin-left: -4rem;
}

.timer {
  font-size: 7rem;
  margin-top: -9rem;
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  animation: pulsate 1s ease-out infinite;
}
@keyframes pulsate {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 0.5;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.selector__content {
  overflow: hidden;
  display: flex;
  transition: all 0.2s ease;
  width: calc(6.25rem + 66px);
  opacity: 1;
  gap: 1.5rem;
}
.selector__content.dis {
  width: 0;
  opacity: 0;
}

.icon-button {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.icon-button img {
  height: 2.3rem;
  filter: invert(1) brightness(1000%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.icon-button span {
  white-space: nowrap;
}

.min-button {
  padding: 0.75rem 1rem;
}

.mr-r {
  margin-right: 1.5rem;
}

.lang {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.lang span {
  font-size: 1rem;
  line-height: 120%;
  color: #fff;
  text-transform: uppercase;
}
.lang__switcher {
  position: relative;
  display: flex;
  padding: 3px;
  border-radius: 24px;
  width: 40px;
  height: 24px;
  transition: all 0.2s ease;
  background: #5035FF;
  cursor: pointer;
}
.lang__switcher div {
  position: relative;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
  width: 18px;
  height: 18px;
  transition: all 0.2s ease;
}

.ru .lang__switcher div {
  left: 16px;
}

.account {
  position: relative;
}
.account__content {
  position: absolute;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background: #fff;
  top: 4.3rem;
  transition: all 0.2s ease;
  opacity: 0;
  pointer-events: none;
  right: -4.8rem;
}
.account__content p {
  font-size: 1rem;
  margin: 0;
  color: rgb(133, 133, 133);
}
.account__content.active {
  opacity: 1;
  pointer-events: all;
}
.account__content div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.account__action {
  color: #000;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.2s ease;
}
.account__action:hover {
  color: #5035FF;
}

.notificator {
  position: fixed;
  z-index: 200;
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  top: -100px;
}
.notificator div {
  box-shadow: 0px 0px 20px 0px rgb(176, 197, 222);
  background: #fff;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}
.notificator div span {
  font-size: 2rem;
  font-weight: 400;
  line-height: 120%;
  color: #000;
}
.notificator div img {
  width: 5rem;
}
.notificator.active {
  animation: myAnim 3s ease 0s 1 normal forwards;
}
@keyframes myAnim {
  0% {
    top: -100px;
  }
  10% {
    top: 6rem;
  }
  90% {
    top: 6rem;
  }
  100% {
    top: -100px;
  }
}

.volume {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.volume img {
  width: 100%;
  filter: invert(1) brightness(1000%);
}
.volume:focus-visible, .volume:focus {
  outline: none;
}

.test li {
  color: #fff;
}

@media (max-width: 769px) {
  .start h2 {
    font-size: 3.5rem;
  }
  .start p {
    font-size: 2rem;
  }
  .start__mode {
    gap: 2.5rem;
  }
  .main-button {
    font-size: 2.5rem;
    padding: 1rem 2.5rem;
  }
  .min-button {
    padding: 1rem 1rem;
  }
  .game h2 {
    font-size: 3.5rem;
  }
  .game p {
    font-size: 2rem;
  }
  .game__block {
    gap: 3rem;
    padding: 2.5rem;
  }
  .game__field {
    gap: 2.5rem;
  }
  .die {
    width: 6rem;
    height: 6rem;
    font-size: 3.5rem;
  }
  .timer {
    font-size: 11rem;
    margin-top: -14rem;
    margin-bottom: 3rem;
  }
  .header__logo {
    height: 5.25rem;
    width: 18rem;
  }
  .selector__content {
    width: calc(10rem + 42px);
  }
  .icon-button {
    padding: 0.75rem;
  }
  .icon-button img {
    height: 3.5rem;
  }
  .lang span {
    font-size: 1.5rem;
  }
  .auth input {
    font-size: 1.75rem;
  }
  .account__content {
    right: -6.5rem;
    top: 6.3rem;
  }
  .account__content p {
    font-size: 1.5rem;
  }
  .notificator div span {
    font-size: 1.5rem;
  }
  .notificator div img {
    width: 3.5rem;
  }
}/*# sourceMappingURL=style.css.map */